<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="heartzert.test.all"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="heartzert.test.permission" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".samples.systemCamera.CameraActivity"/>
        <activity android:name=".samples.softkeyboard.SoftKeyboardActivity" />
        <activity android:name=".uitest.CommonUITestActivity" />
        <activity android:name=".uitest.bubbles.BubblesTestActivity" />
        <activity android:name=".architecture.ArchitectureActivity" />
        <activity android:name=".uitest.ButtonActivity" />
        <activity
            android:name=".setupactivities.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".samples.retrofit.RetrofitActivity" />
        <activity android:name=".samples.reflaction.ReflactionActivity" />

        <service android:name=".samples.intentservice.IntentServiceActivity$MyIntentService" />

        <activity android:name=".samples.intentservice.IntentServiceActivity" />
        <activity android:name=".samples.handlerthread.HandlerThreadActivity" />
        <activity android:name=".samples.coroutines.CoroutinesActivity" />
        <activity android:name=".samples.contentprovider.TestProviderActivity" /> <!-- 测试provider -->
        <provider
            android:name=".samples.contentprovider.TestProvider"
            android:authorities="heartzert.test.all.samples.contentprovider.TestProvider"
            android:permission="heartzert.test.permission"
            android:process=":testProvider" />

        <activity android:name=".samples.constraintlayout.UIPracticeActivity" />
        <activity
            android:name=".uitest.MiniProgramActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.test" />
        <activity android:name=".custom_views.recyclertest.myRecyclerView.NestedTestActivity" />
        <activity android:name=".custom_views.ScaleableImageView.ScaleableImageTestActivity" />
        <activity android:name=".samples.motionLayout.MotionLayoutActivity" />
        <activity android:name=".samples.nestedscrollview.custom.MyNestedScrollAct" />
        <activity android:name=".custom_views.recyclertest.recyclerviewWithFragment.RecyclerViewWithFragmentActivity" />
        <activity android:name=".custom_views.recyclertest.RecyclerViewTestActivity" />
        <activity android:name=".custom_views.draw_shadow.ShadowActActivity" />
        <activity android:name=".samples.coordinatelayout.CoordinateTest2Activity" />
        <activity
            android:name=".samples.viewpager_fragment.ViewpagerActivity"
            android:label="@string/title_activity_viewpager" />
        <activity
            android:name=".uitest.ScrollRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".uitest.TextSizeTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".samples.viewpageranim.TestLSCVAct" />
        <activity android:name=".custom_views.leftswipe.LeftSwipeAct" />
        <activity android:name=".custom_views.customview.ViewTestAct" />
        <activity android:name=".uitest.UITestAct" />
        <activity android:name=".samples.constraintlayout.ConstraintLayoutChangeAct" />
        <activity android:name=".samples.asynctask.AsyncTaskTestAct" />
        <activity android:name=".samples.coordinatelayout.CoordinateLayoutAct" />
        <activity android:name=".samples.nestedscrollview.NestedScrollViewAct" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 测试监听隐式intent -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>